*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background-color: purple;
}
.header{
    width: 100%;
    /* border: 1px solid blue; */
    height: 70px;
    display: flex;
    align-items: center;
    background-color: rgb(101, 5, 101);
}

header img {
    margin-left: 20px;
    width: 233px;
    height: 50px;
    border: 1px solid blue;

    
  }

.header nav{
    width: 50%;
    border: 1px solid blue;
    margin-left: 90px;
    height: 60px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;


}
.header nav div ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;


}
.header nav div ul li{
    padding: 10px 36px;
    /* background-color: rgb(84, 9, 84); */
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.header nav div ul li:hover{
    background-color: rgb(173, 28, 173);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}



.header nav div ul li a{
    font-family: "Prompt", serif;
    font-weight: 600;
    font-style:normal;
    color: white;
    text-decoration: none;
}
main{
    height: calc(100vh - 70px);
    background-color: rgb(50, 20, 55);
    border: 1px solid white;
}

main div{
    display:flex;
    justify-content: center;
    align-content: middle;
    
    width:100%;
    height:fit-content;
}
main div img{
    width:710px;
    height:540px;
}

main h1{
    margin-top:5px;
    text-align:center;
    font-family:sans-serif;
    color: white;
    font-weight: 500;
    font-style: normal;
}